table {
  width: 100%;
  cursor: pointer;
}

mat-card {
  margin: 20px;
  padding: 20px;
}

.mt-4 {
  margin-top: 20px;
}

.logout-button {
  border: none;
  outline: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
}

.logout-button:focus {
  outline: none;
  box-shadow: none;
}
